.information {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
  &--popup {
    max-width: 600px;
    max-height: 300px;
    width: 600px;
    height: 300px;
    border-radius: 15px;
    background-color: white;
    position: relative;
    box-shadow: $modal-box-shadow;
    display: flex;
    align-items: center;
  }
  &--icon{
    position: absolute;
    right: 10px;
    top:10px
  }
  &--content {
    padding: 0 10px;
    text-align: center;
    margin-bottom: 10%;
  }
}