.search-container {
  box-shadow: $modal-box-shadow;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 450px;
  height: 235px;
  max-height: 890px;
  margin: 20px;
  border-radius: 10px;
  z-index: 10;
  overflow: visible;
  transition: all .5s ease;
  animation: open;
  color:$green1;
  font-family: 'Nunito Sans';

  &__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
  }

  &__big {
    height: 95vh;
  }

  &__loader {
    width: 100%;
    height: 75%;
  }
  @media only screen and (max-width: $breakpoint) {
    margin: 6px;
    width: 97%;
    background: rgba(255, 255, 255, 0.9);
    height: 217px;
    &__title {
      font-size: 25px;
    }
    &__big {
      height: 100%;
    }
  }
}

.search--icon{
  border:2px solid $green2;
  border-radius: 50%;
  padding:5px;
  display: flex;
  margin:0 0 10px 0;
  @media only screen and (max-width: $breakpoint) {
    margin:0
  }
}
