.success {
  text-align: center;
  color:$green1;
  &--zipcode {
    font-family: 'Nunito Sans';
  }
  &--averageprice, &--popularcompanys{
    padding:15px;
    color:$green1;
    margin: 10% 0 10px 0;
    font-family: 'HK Grotesk';
    h2 {
      margin: 0 0 4px 0;
    }
    p {
      margin: 0;
      font-family: 'Nunito Sans';
    }
  }
  &--popularcompanys {
    background-color: $white2;
    
  }
  &--averageprice {
    background-color: $white2;
    border-radius: 5px;
  }
}
